.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* prodotto */

.product{
  position: relative;
  display: block;
  margin: 100px auto;
  height: 1280px;
  
}

.image-product{
  position: relative;
  width: 480px;
  height: 640px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px gray;
  margin: 0 auto;
  overflow: hidden;
}


.image-product img{

  border-radius: 25px;
  position: absolute;
  top: -160px;
  right: 0px;
  width: 480px;
  transform: scaleX(-1); 
  overflow: hidden;
}

/* testo */

/* font-family: 'Amatic SC', cursive;
font-family: 'Cutive Mono', monospace; */

.productDescription{
  position: absolute;
  top: 400px;
  right: 0px;
  width: 480px;
  height: 640px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px gray;
  font-family: 'Nunito', sans-serif;
  background-color: white;

  margin:0 auto;
  text-align: left;

}

.text-block_title {
  display: flex;
  justify-content: space-between;
  margin: 60px 65px 0px;
}

.text-block p {
  margin: 0px 65px;
}

/* colors */
.colors,
.size {
  margin: 0px 65px;



}
.colors h3,
.size h3{
  margin: 15px 0;
}
.color-choise, 
.size-choise {
  display: flex;
}

.color-choise div,
.size-choise div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;  
}

.color-choise_color1{
  background-color: black;

}
.color-choise_color2{
  background-color: rgba(44, 21, 136);

}
.color-choise_color3{
  background-color: rgba(220, 203, 47);

}
.color-choise_color4{
  background-color: rgba(91, 102, 98);

}

/* size */
.size1 {
  background-color: black;
  color: white;
}

.size2,
.size3 {
  background-color:rgba(196, 196, 196);
}

/* button */
.button_add-to-cart {
  display: block;
  margin: 30px auto;
  background-color: black;
  color: white;
  width: 240px;
  font-size: 1.17em;
  border-radius: 10px;
  border: none;
  padding: 10px 0;

}