.productDescription{
    position: absolute;
    top: 200px;
    right: 0px;
    width: 240px;
    height: 320px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px gray;
    font-family: 'Nunito', sans-serif;
    background-color: white;
  
    margin:0 auto;
    text-align: left;
    font-size: 15px;
  
  }
  
  .text-block_title {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0px;
    font-size: 14px;
  }

  .text-block h3 {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .text-block p {
    margin: 0px 30px;
    font-size: 12px;
  }
  